@import '~normalize.css';

@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-core($custom-typography);


$cchulolabs-client-primary: mat-palette($mat-blue-grey);
$cchulolabs-client-accent: mat-palette($mat-light-blue, A200, A100, A400);
$cchulolabs-client-warn: mat-palette($mat-red);

$cchulolabs-client-theme: mat-dark-theme($cchulolabs-client-primary, $cchulolabs-client-accent, $cchulolabs-client-warn);


@include angular-material-theme($cchulolabs-client-theme);

html, body, app-root, .app-frame {
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
