<div class="about-container">

    <img class="text-wrap" src="/assets/images/selfie.jpg" alt="selfie">
    <h1>Carlos Chulo, Software Engineer</h1>
    <mat-divider></mat-divider>
    <p>
        Hello, welcome to my page!
        <br />
        <br />
        I am a San Diego native, with a passion
        for technology, innovation, and tinkering.
        <br />
        <br />
        My alma mater is the University of California San Diego, which I graduated from with a BS in Computer Science in Summer of 2018.
        <br />
        <br />
        My hobbies include gaming (currently PC and Switch),
        coding (yes I do it professionally and for fun!), 3D printing,
        listening to music, and watching movies.
        <br />
        <br />
        My interests are computer graphics, traditional game and VR development, CPU architecture,
        and artificial intelligence.
        <br />
        <br />
        This page is for both my portfolio, and a blog to share
        my professional exploits, projects, and tutorials.
        <br />
        <br />
        My goal is to contribute back to the open source community, and help others reach for the stars.
    </p>
    
</div>
